form .todoTitle, .todoDescription
  background-color: #ffffff;  
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  border: none;
  align-content: center;
  width: 96%;
  margin: 1% 0 0 0;
  padding: 2%;
  font-size: 22px;
  color: #020202;
  border-radius: 3px;

form .addButton
  background-color: #8a2be2;
  color: #fff
  margin: 3% 0
  width: 100%
  display: block
  height: 45px
  font-size: 1rem
  font-weight: bold
  text-transform: uppercase
  border: none